<h1 class="post-title">{{ .Title }}</h1>

<div class="post-details">
    {{- if .PublishDate }}
        <time datetime="{{ .PublishDate }}">{{ i18n "publishdate" . }}</time>
    {{- end }}

    • Curated by
    {{- if .Params.Author }}
        {{ .Params.Author }}
    {{- else }}
        {{ .Site.Author.name }}
    {{- end }}
</div>
